<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371630482726-phnbi9spbji2scnho0an70gvek67t9hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371630482726-phnbi9spbji2scnho0an70gvek67t9hf</string>
	<key>API_KEY</key>
	<string>AIzaSyCd3VSkQwdrgDYlc2zfVIPtf4Uw3frQOvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>371630482726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ltm.JobFinder</string>
	<key>PROJECT_ID</key>
	<string>jobfinder-aa346</string>
	<key>STORAGE_BUCKET</key>
	<string>jobfinder-aa346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371630482726:ios:bbe6271e868eef74680de7</string>
	<key>DATABASE_URL</key>
	<string>https://jobfinder-aa346.firebaseio.com</string>
</dict>
</plist>